# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*

# Logs
*.log
logs/
sites/*/logs/

# OS
.DS_Store
Thumbs.db

# Bench/ERPNext artifacts
*.bench
sites/*/private/
sites/assets/
assets/

# Node
node_modules/

# Coverage / testing
coverage/
.cache/
pytest_cache/

# Development
development/kta-dev-v16
development/kta-dev-v15
